-#  This file is app/views/movies/index.html.haml
%h2 All Students

= form_tag students_eventslist_path, :method => :get do
  Student Events:
  = select_tag 'id', options_for_select(@events.collect{ |e| [e.name, e.id] }.insert(0, ["All", 0]), selected=@selected_id)
  = submit_tag 'View Students'
    
%table#students
  %thead
    %tr
      %th= link_to "Student Name", students_path({:sort => "name"})
      %th More Info
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= link_to "More about #{student.name}", student_path(student)
= link_to 'Add new student', new_student_path