-#  This file is app/views/movies/index.html.haml
%h2 All Students

%table#students
  %thead
    %tr
      %th Student Name
      %th Age
      %th Checkin Date
      %th More Info
  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.age
        %td= student.checkin_date
        %td= link_to "More about #{student.name}", student_path(student)
= link_to 'Add new student', new_student_path
