%h2 Create New Student

= form_tag students_path, :method => :post do

  = label :student, :name, 'Name'
  = text_field :student, :name

  = label :student, :age, 'Age'
  = text_field :student, :age

  = label :student, :checkin_date, 'Checked In On'
  = date_select :student, :checkin_date

  = submit_tag 'Save Changes'
