-# in app/views/movies/show.html.haml

%h2 Details about #{@student.name}

%ul#details
  %li
    Grade:
    = @student.grade

  %li
    Born on:
    = @student.birthdate.strftime("%B %d, %Y")

%h3 Parent:
%ul#parent
  %li 
    Name: 
    = @student.parentName
  %li 
    Phone: 
    = @student.parentPhone
  %li 
    Address:  
    = @student.parentAddress

%h3 Emergency Contact:
%ul#contact
  %li 
    Name: 
    = @student.contactName
  %li 
    Phone: 
    = @student.contactPhone

%h3 Notes:

%p#description= @student.notes

= link_to 'Edit info', edit_student_path(@student)
= link_to 'Back to student list', students_path
= link_to 'Delete', student_path(@student), :method => :delete
